{% extends "TwigBundle::layout.html.twig" %}

{% block head %}
    <style>
        table, tr, th, td {
            border-collapse: collapse!important;;
            border: 1px solid #d0dbb3!important;;
        }
        table {
            width: 100%;
            margin: 10px 0 30px;
        }
        table th {
            font-weight: bold!important;;
            background-color: #f1f7e2!important;;
        }
        table th, table td {
            font-size: 12px;
            padding: 8px 10px!important;
        }
    </style>
{% endblock %}

{% block body %}

    <table border="1">
    {% for code in codes %}
    <tr>
        <td>{{ code.getId() }}</td>
        <td>{{ code.getCode() }}</td>
        <td>{{ code.getStreet() }}</td>
        <td>{{ code.getNumber() }}</td>
        <td>{{ code.getCity() }}</td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}